.navbar-menu {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
    background-color: gray;
}

a {
    text-decoration: none;
    font-size: 18;
    color: rgb(5, 56, 77);
    letter-spacing: bolder;
    text-decoration: none;
}

a:hover {
    color: red;
}